.layer-popup {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
}

.layer-popup.show {
	display: block;
}

.modal-dialog {
	width: 300px;
	margin: 40px auto;
	background-color: #fff;
}

.modal-content {
	padding:10px 15px;
	text-align: center;
	line-height: 100px;
}